@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* || Gloabl */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
  font-family: "Barlow", sans-serif;
}

a {
  display: block;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  padding: 2.2rem;
}

body {
  background-color: rgb(69, 191, 252);
}

/* Header*/
header {
  top: 0;
  z-index: 1400;
  width: 100%;
}

.nav-list {
  height: 60px;
}

.nav-list,
.footer-list,
.social-icons {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.nav-items {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-list-mobile {
  display: none;
}

.nav-link {
  font-size: 0.7rem;
  padding: 0 1.5rem;
  height: 100%;
}

.nav-item:nth-child(1) .nav-link,
.nav-item:nth-child(2) .nav-link,
.nav-item:nth-child(3) .nav-link {
  color: #fff;
}

.nav-link-logo {
  width: 7.75rem;
  background: url("images/logo.svg") center no-repeat;
}

.nav-item:last-child .nav-link {
  align-self: center;
  font-family: "Fraunces";
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  color: black;
  z-index: 100;
  transition: color 0.2s;
}
.nav-item:last-child .nav-link:hover {
  color: #fff;
}

.nav-item:last-child .nav-link::after {
  content: " ";
  height: 250%;
  width: 100%;
  left: 0;
  top: -70%;
  background-color: white;
  position: absolute;
  z-index: -1;
  border-radius: 2rem;
  transition: opacity 0.2s;
}

.nav-item:last-child:hover .nav-link::after {
  opacity: 0.4;
}

/*Hero*/

.title-heading {
  font-size: 4vw;
  font-weight: bolder;
  letter-spacing: 0.4rem;
  font-family: "Fraunces";
  text-transform: uppercase;
  color: #fff;
}

.arrow {
  width: 36px;
  height: 114px;
  background: url("images/icon-arrow-down.svg");
  margin: 0 auto;
  margin-top: 100px;
}

.hero .container {
  height: 42vh;
  background: url("images/desktop/image-header.jpg") center no-repeat;
  background-size: auto;
  background-size: cover;
  text-align: center;
}

/* main */
.main .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: white;
  padding: 0;
  align-items: center;
}

.cell {
  aspect-ratio: 1 / 1;
  display: flex;
  flex-direction: column;
}

.cell-info {
  justify-content: center;
}

.cell-info-photo {
  justify-content: end;
}

.info-title,
.info-photo-title {
  font-family: "Fraunces";
  font-size: 2rem;
  color: rgb(34, 46, 61);
  padding: 0 2.8rem;
}

.cell p {
  font-size: 1rem;
  padding: 0 2.8rem;
  margin: 2.2rem 0;
  color: grey;
}

.cell .learn-more {
  padding: 0 2.8rem;
  font-size: 0.8rem;
  font-family: "Fraunces";
  font-weight: bolder;
  text-transform: uppercase;
  color: rgb(34, 46, 61);
  position: relative;
  z-index: 10;
}

.learn-more::before {
  content: " ";
  position: absolute;
  height: 6px;
  width: 6rem;
  left: 2.7rem;
  top: calc(50% + 4px);
  border-radius: 6px;
  z-index: -1;
  transition: background-color 0.2s;
}

.cell:nth-child(1) .learn-more::before {
  background-color: rgba(254, 209, 48, 0.3);
}

.cell:nth-child(1) .learn-more:hover:before {
  background-color: rgba(254, 209, 48, 1);
}

.cell:nth-child(4) .learn-more::before {
  background-color: rgba(253, 125, 110, 0.3);
}

.cell:nth-child(4) .learn-more:hover:before {
  background-color: rgba(253, 125, 110, 1);
}

.info-photo-title {
  font-size: 1.7rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
}

.cell-info-photo {
  text-align: center;
}

.cell-info-photo p {
  padding: 0 4rem;
  margin-top: 1rem;
  color: rgba(0, 0, 0, 0.5);
}

.cell-photo {
  background-position: center;
  background-size: cover;
}

.cell-photo:nth-child(2) {
  background-image: url("images/desktop/image-transform.jpg");
}

.cell-photo:nth-child(3) {
  background-image: url("images/desktop/image-stand-out.jpg");
}

.cell-info-photo:nth-child(5) {
  background: url("images/desktop/image-graphic-design.jpg") center no-repeat;
  background-size: cover;
}

.cell-info-photo:nth-child(6) {
  background: url("images/desktop/image-photography.jpg") center no-repeat;
  background-size: cover;
}

/* tstimonials */
.tstimonials {
  background-color: white;
  text-align: center;
  padding: 4rem;
}

.title-testimonials {
  font-family: "Fraunces";
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: rgba(0, 0, 0, 0.3);
}

.testimonial-cards {
  display: flex;
  margin-top: 5.3rem;
}

.testimonial-card:nth-child(2) {
  margin: 0 2.5rem;
}

.testimonial-image {
  width: 72px;
  height: 72px;
  margin: 0 auto;
  border-radius: 100%;
}

.testimonial-card:nth-child(1) .testimonial-image {
  background: url("images/image-emily.jpg");
  background-size: contain;
}

.testimonial-card:nth-child(2) .testimonial-image {
  background: url("images/image-thomas.jpg");
  background-size: contain;
}

.testimonial-card:nth-child(3) .testimonial-image {
  background: url("images/image-jennie.jpg");
  background-size: contain;
}

.testimonial-card .auth-review {
  margin: 4.3rem 0;
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.7);
}

.auth-name {
  font-family: "Fraunces";
  font-weight: bolder;
  margin-bottom: 0.7rem;
}

.auth-profession {
  font-size: 0.7rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.3);
}

/* gallery */
.gallery {
  display: flex;
}

.gallery-img {
  aspect-ratio: 120 / 149;
  height: 447px;
  width: calc(100vw / 4);
}

.gallery-img:nth-child(1) {
  background: url("images/desktop/image-gallery-milkbottles.jpg") center
    no-repeat;
  background-size: cover;
}
.gallery-img:nth-child(2) {
  background: url("images/desktop/image-gallery-orange.jpg") center no-repeat;
  background-size: cover;
}
.gallery-img:nth-child(3) {
  background: url("images/desktop/image-gallery-cone.jpg") center no-repeat;
  background-size: cover;
}
.gallery-img:nth-child(4) {
  background: url("images/desktop/image-gallery-sugarcubes.jpg") center
    no-repeat;
  background-size: cover;
}

/* footer */
footer {
  background-color: rgb(146, 212, 197);
  text-align: center;
  padding: 5rem 0;
}

.footer-logo,
.footer-social-link {
  background-color: rgba(0, 0, 0, 0.5);
  mask-position: center;
  mask-repeat: no-repeat;
  margin: 0 auto;
}

.footer-logo {
  width: 7.75rem;
  height: 1.5rem;
  mask-image: url("images/logo.svg");
}

.footer-list {
  margin: 2.5rem auto;
  width: calc(100vw / 3);
}

.footer-link {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.5);
  transition: color 0.2s;
}

.footer-link:hover {
  color: #fff;
}

.social-icons {
  margin: 0 auto;
  width: calc(100vw / 6);
}

.social-fb,
.social-insta,
.social-twitter,
.social-pin {
  width: 1.25rem;
  height: 1.25rem;
  transition: background-color 0.2s;
}

.footer-social-link:hover {
  background-color: #fff;
}

.social-fb {
  mask-image: url("images/icon-facebook.svg");
}
.social-insta {
  mask-image: url("images/icon-instagram.svg");
}
.social-twitter {
  mask-image: url("images/icon-twitter.svg");
}
.social-pin {
  mask-image: url("images/icon-pinterest.svg");
}

@media screen and (max-width: 1068px) {
  .container {
    padding: 2rem;
  }

  .info-title {
    font-size: 1.5rem;
    padding: 0 2rem;
  }

  .info-photo-title {
    font-size: 1.5rem;
  }

  .cell p {
    font-size: 0.9rem;
    padding: 0 2rem;
    margin: 1.6rem 0;
  }

  .cell .learn-more {
    padding: 0 2rem;
    font-size: 0.6rem;
  }

  .learn-more::before {
    height: 4px;
    width: 4.5rem;
    left: 1.9rem;
  }

  .tstimonials {
    padding: 2rem;
  }

  .testimonial-cards {
    margin-top: 4rem;
  }

  .testimonial-card .auth-review {
    margin: 2rem 0;
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 678px) {
  .nav-list-larger {
    display: none;
  }

  .nav-link {
    padding: 0;
  }

  .nav-item {
    height: 4.8rem;
  }

  .nav-item-mobile {
    padding-right: 1.5rem;
    display: flex;
    justify-content: space-between;
  }
  .nav-item-hidden {
    display: none;
  }

  .nav-list-mobile {
    display: flex;
    position: relative;
  }

  .mobile-menu {
    position: relative;
    z-index: 1500;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    cursor: pointer;
  }

  .line {
    position: absolute;
    width: 1.4rem;
    height: 2px;
    background-color: #fff;
    transition: opacity 0.2s;
  }

  .line-top {
    top: 40%;
  }

  .line-bottom {
    bottom: 40%;
  }

  .active .line {
    opacity: 0.5;
  }

  .mobile-items {
    display: none;
  }

  .active .mobile-items {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 45vw;
    left: 0;
    top: 6rem;
    padding: 2rem 0;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
  }

  .active .mobile-items::before {
    content: " ";
    width: 0;
    height: 0;
    border-bottom: 1.5rem solid white;
    border-left: 1.5rem solid transparent;
    position: absolute;
    right: 0;
    top: -1.5rem;
  }

  .active .mobile-nav-link {
    color: grey;
    font-weight: 600;
  }

  .active .mobile-nav-item:last-child .mobile-nav-link {
    align-self: center;
    font-family: "Fraunces";
    text-transform: uppercase;
    position: relative;
    color: black;
    z-index: 1000;
  }

  .active .mobile-nav-item:last-child .mobile-nav-link::after {
    content: " ";
    height: 200%;
    width: 100%;
    left: -2rem;
    padding: 0 2rem;
    top: -45%;
    background-color: rgb(251, 231, 47);
    position: absolute;
    z-index: -1;
    border-radius: 2rem;
    transition: opacity 0.2s;
  }

  .info-title {
    font-size: 1rem;
  }

  .info-photo-title {
    font-size: 1rem;
  }

  .cell p {
    font-size: 0.5rem;
    margin: 1rem 0;
  }

  .cell-info-photo p {
    margin: 0.5rem 0;
  }

  .cell .learn-more {
    font-size: 0.5rem;
  }

  .learn-more::before {
    height: 3px;
    width: 3.8rem;
    left: 1.9rem;
  }

  .title-testimonials {
    font-size: 0.8rem;
  }

  .testimonial-cards {
    flex-direction: column;
    margin-top: 0;
  }

  .testimonial-card {
    margin: 2rem 0;
  }

  .testimonial-card .auth-review {
    margin: 2rem 0;
    font-size: 0.7rem;
  }

  footer {
    padding: 3rem 0;
  }

  .footer-logo {
    mask-size: cover;
  }

  .footer-list {
    width: 80%;
  }

  .social-icons {
    width: 50%;
  }
}

@media screen and (max-width: 375px) {
  .container {
    padding: 1rem;
  }

  .hero .container {
    height: 65vh;
    background: url("images/mobile/image-header.jpg") center no-repeat;
    background-position: bottom;
    background-size: cover;
  }

  .arrow {
    margin-top: 50px;
  }

  .title {
    margin-top: 2.5rem;
  }

  .title-heading {
    font-size: 2rem;
  }

  .main {
    text-align: center;
  }

  .main .cell:first-child {
    grid-area: column-2;
  }

  .main .cell:nth-child(2) {
    grid-area: column-1;
  }

  .main .container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "column-1"
      "column-2";
  }

  .info-title,
  .info-photo-title {
    font-size: 2rem;
  }

  .main p {
    font-size: 1rem;
  }

  .cell .learn-more {
    font-size: 1rem;
  }

  .cell .learn-more::before {
    height: 0.5rem;
    width: 8rem;
    left: 6.3rem;
  }

  .cell-info-photo {
    aspect-ratio: auto;
    height: 70vh;
    width: 100%;
  }

  .info-photo-title {
    font-size: 1.7rem;
  }

  .cell-info-photo p {
    margin: 1.5rem 0 2.5rem;
  }

  .cell-photo:nth-child(2) {
    background-image: url("images/mobile/image-transform.jpg");
  }

  .cell-photo:nth-child(3) {
    background-image: url("images/mobile/image-stand-out.jpg");
  }

  .cell-info-photo:nth-child(5) {
    background: url("images/mobile/image-graphic-design.jpg") center no-repeat;
    background-size: cover;
  }

  .cell-info-photo:nth-child(6) {
    background: url("images/mobile/image-photography.jpg") center no-repeat;
    background-size: cover;
  }

  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .gallery-img {
    aspect-ratio: 1 / 1;
    width: calc(100vw / 2);
    height: 100%;
  }
}